[stepper_x]
enable_pin: !P2.1
step_pin: P2.2
dir_pin: !P2.6
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: ^P1.28
position_min: 0
position_endstop: 235
position_max: 235
homing_speed: 50.0
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: P1.17
run_current: 0.700
interpolate: False

[stepper_y]
enable_pin: !P2.8
step_pin: P0.19
dir_pin: !P0.20
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: ^P1.26
position_min: 0
position_endstop: 230
position_max: 230
homing_speed: 50.0
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: P1.15
run_current: 0.700
interpolate: False

[stepper_z1]
enable_pin: !P0.21
step_pin: P0.22
dir_pin: !P2.11
step_distance: 0.0025

[tmc2209 stepper_z1]
uart_pin: P1.10
microsteps: 16
run_current: 0.400
interpolate: False

[stepper_z]
step_pin: P0.1
dir_pin: !P0.0
enable_pin: !P0.10
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
# rotation_distance: 8    
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: probe:z_virtual_endstop
position_max: 240
position_min: -5
homing_speed: 15.0

[tmc2209 stepper_z]
uart_pin: P1.1
run_current: 0.400
interpolate: False

[homing_override]
set_position_z: 0
#set_position_x: 0
#set_position_y: 0
axes: xyz
gcode:
    G90
    G0 Z5 F600
    G28 X0 Y0
    G0 X117.5 Y95 F5000
    G28 Z0
    G0 Z5 F500

[extruder]
step_pin: P2.13
dir_pin: P0.11
enable_pin: !P2.12
##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
rotation_distance: 22.6789511   #Bondtech 5mm Drive Gears
##  Update Gear Ratio depending on your Extruder Type
##  Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##  Use 80:20 for M4, M3.1
gear_ratio: 80:20               #BMG Gear Ratio
microsteps: 32
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.5
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for NTC 100k 3950 thermistors
#sensor_type:
sensor_pin: P0.24
#control: pid
#pid_kp: 19.171
#pid_ki: 0.814
#pid_kd: 112.871
min_temp: 0
max_temp: 260
max_extrude_only_distance: 110

[tmc2209 extruder]
uart_pin: P1.8
run_current: 0.500
interpolate: False

[verify_heater extruder]
max_error: 200
check_gain_time: 30

[heater_bed]
heater_pin: P2.0
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
#sensor_type:
sensor_pin: P0.23
smooth_time: 3.0
pwm_cycle_time: 0.0166
max_power: 0.8
control: pid
pid_Kp: 47.690
pid_Ki: 1.556
pid_Kd: 365.338
min_temp: 0
max_temp: 130

[fan]
pin: P2.4

[controller_fan my_controller_fan]
pin: P2.3
max_power: 1.00
kick_start_time: 0.200
heater: heater_bed

# thermally controlled hotend fan
[heater_fan my_nozzle_fan]
pin: P2.7
max_power: 1.0
kick_start_time: 0.100
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[bed_mesh]
speed: 150
horizontal_move_z: 5
mesh_min: 30,30
mesh_max: 205,200
probe_count: 5,5

[probe]
pin: P1.25
y_offset: 25.0
z_offset: 0.6
speed: 15

[mcu]
serial: /dev/ttyAMA0
restart_method: command

[printer]
kinematics: corexy
max_velocity: 180
max_accel: 1000
max_z_velocity: 15
max_z_accel: 200
square_corner_velocity: 5.0

[z_tilt]
speed: 150
z_positions:
    283,95
    -40,95
points:
    20,95
    215,95
retries: 6
retry_tolerance: 0.0075

[display]
#    mini12864 LCD Display
lcd_type: uc1701
cs_pin: P1.18
a0_pin: P1.19
rst_pin: P1.20
encoder_pins: ^P3.26,^P3.25
click_pin: ^!P0.28
contrast: 63
spi_software_sclk_pin: P0.15
spi_software_mosi_pin: P0.18
spi_software_miso_pin: P0.17

[gcode_macro DISABLE_MOTORS]
gcode:
    M18
